@prefix rdf:      <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs:     <http://www.w3.org/2000/01/rdf-schema#> .
@prefix owl:      <http://www.w3.org/2002/07/owl#> .
@prefix xsd:      <http://www.w3.org/2001/XMLSchema#> .
@prefix skos:     <http://www.w3.org/2004/02/skos/core#> .
@prefix void:     <http://rdfs.org/ns/void#> .
@prefix dct:      <http://purl.org/dc/terms/> .
@prefix dctypes:  <http://purl.org/dc/dcmitype/> .
@prefix foaf:     <http://xmlns.com/foaf/0.1/> .
@prefix org:      <http://www.w3.org/ns/org#> .
@prefix admingeo: <http://data.ordnancesurvey.co.uk/ontology/admingeo/> .
@prefix interval: <http://reference.data.gov.uk/def/intervals/> .
@prefix muo: <http://purl.oclc.org/NET/muo/muo#>.

@prefix qb:       <http://purl.org/linked-data/cube#> .
@prefix dcat:     <http://www.w3.org/ns/dcat#> .
@prefix pav: <http://purl.org/pav/> .
@prefix sdmx-concept:    <http://purl.org/linked-data/sdmx/2009/concept#> .
@prefix sdmx-dimension:  <http://purl.org/linked-data/sdmx/2009/dimension#> .
@prefix sdmx-attribute:  <http://purl.org/linked-data/sdmx/2009/attribute#> .
@prefix sdmx-measure:    <http://purl.org/linked-data/sdmx/2009/measure#> .
@prefix sdmx-metadata:   <http://purl.org/linked-data/sdmx/2009/metadata#> .
@prefix sdmx-code:       <http://purl.org/linked-data/sdmx/2009/code#> .
@prefix sdmx-subject:    <http://purl.org/linked-data/sdmx/2009/subject#> .
@prefix dbp:    <http://dbpedia.org/resource/> .

@prefix ex-geo:   <http://example.org/geo#> .
@prefix vocab:       <http://junar.com/cne/vocab/> .
@prefix instances:       <http://junar.com/cne/instances/> .

# -- Dataset Metadata --------------------------------------------
instances:dataset-sing-por-tipo a dctypes:Dataset;
                        dct:title "{{metadata.resource.fields.title}}"@es ;
                        dct:publisher   <http://cognita.io#this>, <http://junar.com#this> ;
                        dct:contributor <http://cne.cl#this> ;
                        rdfs:comment    "Balance Energía Secundaria año 2013 en teracalorías"@es;
                        dct:description "Balance Energía Secundaria año 2013 en teracalorías"@es;
                        dct:subject
                            sdmx-subject:2.4.2 ,      # energy
                            dbp:Chile;           # Chile
.

instances:dataset-sing-por-tipo-{{metadata.pArgument0}} a dctypes:DataSet;
                        dct:title "{{metadata.resource.fields.title}}"@es ;
                        rdfs:label "{{metadata.resource.fields.title}}"@es ;
                        dct:publisher   <http://cognita.io#this>, <http://junar.com#this> ;
                        dct:contributor <http://cne.cl#this>;
                        dct:issued      "{{metadata.pArgument0}}"^^xsd:date;
                        dct:date        "{{metadata.pArgument0}}"^^xsd:date;
                        dct:isVersionOf instances:dataset-sing-por-tipo ;
                        pav:version "{{metadata.pArgument0}}" ;
                        dcat:distribution instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution .

instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution a qb:DataSet;
                        pav:version "{{metadata.pArgument0}}";
                        dct:title "{{metadata.resource.fields.title}} {{metadata.pArgument0}}"@es ;
                        rdfs:label "{{metadata.resource.fields.title}} {{metadata.pArgument0}}"@es ;
                        rdfs:comment    "Balance Energía Secundaria año 2013 en teracalorías"@es;
                        dct:description "Balance Energía Secundaria año 2013 en teracalorías"@es;
                        dct:publisher   <http://cognita.io#this>, <http://junar.com#this> ;
                        dct:contributor <http://cne.cl#this>;
                        qb:structure instances:dataset-sing-por-tipo-distribution-dsd;
                        sdmx-attribute:unitMeasure vocab:Teracalories 
                        #qb:slice instances:slice1, instances:slice2
                        .

<http://cognita.io#this> a org:Organization, foaf:Agent;
    rdfs:label "Cognita"@es .    


<http://junar.com#this> a org:Organization, foaf:Agent;
    rdfs:label "Junar"@es .    


<http://cne.cl#this> a org:Organization, foaf:Agent;
    rdfs:label "Comisión Nacional de Energía"@es .    
        
# -- Data structure definition ----------------------------

vocab:Teracalories a owl:Class, muo:SimpleDerivedUnit;
                   rdfs:label "Teracalorías"@es;
                   muo:modifierPrefix <http://purl.oclc.org/NET/muo/ucum/prefix/tera>;
                   muo:dimensionalSize 1.0;
                   muo:derivesFrom <http://purl.oclc.org/NET/muo/ucum/unit/energy/calorie> .


vocab:centralDimension  a rdf:Property, qb:DimensionProperty;
    rdfs:label "Central"@es;
    rdfs:range vocab:CentralElectrica;
    .

vocab:configurationDimension  a rdf:Property, qb:DimensionProperty;
    rdfs:label "Configuración Central"@es;
    rdfs:range vocab:ConfiguracionCentral
    .

vocab:componentDimension  a rdf:Property, qb:DimensionProperty;
    rdfs:label "Componente Central"@es;
    rdfs:range vocab:ComponenteCentral
    .

vocab:fuelDimension  a rdf:Property, qb:DimensionProperty;
    rdfs:label "Tipo de combustible"@es;
    rdfs:range vocab:Fuel
    .


vocab:hourDimension  a rdf:Property, qb:DimensionProperty;
    rdfs:label "Hora medición"@es;
    rdfs:range xsd:int
            .

instances:dataset-sing-por-tipo-distribution-dsd a qb:DataStructureDefinition;
    # The dimensions
    qb:component [ qb:dimension vocab:centralDimension;         qb:order 1 ];
    qb:component [ qb:dimension vocab:configurationDimension;       qb:order 2 ];
    qb:component [ qb:dimension vocab:componentDimension; qb:order 3 ];
    # The measure(s)
    qb:component [ qb:measure vocab:Teracalories] .
   
# -- Dimensions and measures  ----------------------------


# ---- Clase Fuente energetica e instancias 
#instances:FuenteEnergetica a owl:Class;
#    rdfs:label "Fuente Energética"@es .
#
#instances:derivadosDelPetroleo a instances:FuenteEnergetica, skos:Concept;
#    rdfs:label "Derivados del Petróleo"@es .
#
#instances:petroleoCombustible a instances:FuenteEnergetica, skos:Concept;
#    rdfs:label "Petróleo Combustible"@es .
#
#instances:gasolinaDeMotor a instances:FuenteEnergetica, skos:Concept;
#    rdfs:label "Gasolina de Motor"@es .
#
#    
#instances:tieneFuenteEnergetica a rdf:Property, qb:DimensionProperty;
#    rdfs:label "fuente energetica"@es;
#    rdfs:range instances:FuenteEnergetica.
#
#
## ----- Clase categorias
#
#instances:CategoriasBalance a owl:Class;
#    rdfs:label "Categorías en balance"@es .
#
## ---------- Instancias de categoria
#instances:produccionBruta a instances:CategoriasBalance;
#    rdfs:label "Producción bruta"@es .
#
#instances:importacion a instances:CategoriasBalance;
#    rdfs:label "Importación"@es .
#
#instances:exportacion a instances:CategoriasBalance;
#    rdfs:label "Exportación"@es .
#
#instances:variacionStock_PerdidaYCierre a instances:CategoriasBalance;
#    rdfs:label "Var. Stock + Pérdida y Cierre"@es .
#
#instances:consumoFinal a instances:CategoriasBalance;
#    rdfs:label "Consumo Final"@es .
#
#instances:consumoCtr a instances:CategoriasBalance;
#    rdfs:label "Consumo CTR"@es .
#
#instances:consumoTotal a instances:CategoriasBalance;
#    rdfs:label "Consumo Total"@es .
#
#
## ----------- Propiedad que asocia categorías
#
#instances:tieneCategoria a rdf:Property, qb:DimensionProperty;
#    rdfs:label "Tiene categoría"@es;
#    rdfs:range instances:CategoriasBalance .
#
#
#-- Measure -----------------------------------------

vocab:amountOfTeracalories a rdf:Property, qb:MeasureProperty;
    rdfs:label "cantidad de teracalorías"@es;
    rdfs:subPropertyOf sdmx-measure:obsValue;
    rdfs:range xsd:decimal .


{%set_value "" as central %}

{%for row in rows%}
{% if row.column0 != ""  %}

{%set_value row.column0 as central%}

{% endif %}


instances:{{central|slugify}} a vocab:Central;
rdfs:label "{{central}}"@es .

{%if row.column4 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 1;
    vocab:amountOfTeracalories "{{row.column4}}"^^xsd:decimal
    .
{%endif%}

{%if row.column5 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 3;
    vocab:amountOfTeracalories "{{row.column5|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column6 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 4;
    vocab:amountOfTeracalories "{{row.column6|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column7 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 5;
    vocab:amountOfTeracalories "{{row.column7|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column8 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 6;
    vocab:amountOfTeracalories "{{row.column8|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column9 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 7;
    vocab:amountOfTeracalories "{{row.column9|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}


{%if row.column10 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 8;
    vocab:amountOfTeracalories "{{row.column10|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column11 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 9;
    vocab:amountOfTeracalories "{{row.column11|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column12 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 10;
    vocab:amountOfTeracalories "{{row.column12|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column13 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 11;
    vocab:amountOfTeracalories "{{row.column13|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column14 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 12;
    vocab:amountOfTeracalories "{{row.column14|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column15 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 13;
    vocab:amountOfTeracalories "{{row.column15|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column16 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 14;
    vocab:amountOfTeracalories "{{row.column16|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column17 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 15;
    vocab:amountOfTeracalories "{{row.column17|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column18 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 16;
    vocab:amountOfTeracalories "{{row.column18|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column19 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 17;
    vocab:amountOfTeracalories "{{row.column19|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column20 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 18;
    vocab:amountOfTeracalories "{{row.column20|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column21 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 19;
    vocab:amountOfTeracalories "{{row.column21|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column22 != ""%}
[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 20;
    vocab:amountOfTeracalories "{{row.column22|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column23 != ""%}

[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 21;
    vocab:amountOfTeracalories "{{row.column23|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column24 != ""%}

[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 22;
    vocab:amountOfTeracalories "{{row.column24|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%if row.column25 != ""%}

[] a qb:Observation;
    qb:dataSet  instances:dataset-sing-por-tipo-{{metadata.pArgument0}}-distribution;
    vocab:centralDimension instances:{{central|slugify}};
    vocab:configurationDimension "{{row.column1}}";
    vocab:componentDimension "{{row.column2}}";
    vocab:fuelDimension instances:{{row.column3|slugify}};
    sdmx-attribute:unitMeasure vocab:Teracalories ;
    vocab:hourDimension 23;
    vocab:amountOfTeracalories "{{row.column25|jreplace:",|."}}"^^xsd:decimal
    .
{%endif%}

{%endfor%}
